<h1>Foods</h1>
<%= form_tag(root_path, method: :get) do%>
  <%= text_field_tag(:food_name, params[:food_name]) %>
  <%= submit_tag ("Search") %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Food name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Restaurant name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.food_name %></td>
      <td><%= food.description %></td>
      <td><%= food.price %></td>
      <td><%= food.rating %></td>
      <td><%= food.restaurant_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>