<h1>FoodRadar</h1>

<!--Uncomment below to toggle search by food -->

<%#= form_tag(root_path, method: :get) do%>
  <%#= text_field_tag(:food_name, params[:food_name]) %>
  <%#= submit_tag ("Search") %>
<%# end %>

<!--Search by restaurant-->
<%= form_tag(root_path, method: :get) do%>
  <%= text_field_tag(:restaurant_name, params[:restaurant_name]) %>
  <%= submit_tag("Search Restaurant") %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th>Restaurant name</th>
    <th>Address</th>
    <th>Cuisine</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.restaurant_name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.cuisine %></td>
      <td><%= link_to 'Menu', restaurant %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</table>