<div class="row">
  <div class="col">
    <%= form_tag(root_path, method: :get) do %>
      <div class="row">
        <div class="col">
          <%= text_field_tag(:restaurant_name, params[:restaurant_name], class: "form-control") %>
        </div>
        <div class="col">
          <%= submit_tag("Search Restaurant", class: "btn btn-primary") %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col">
    <%= form_tag("/foods", method: :get) do%>
      <div class="row">
        <div class="col">
          <%= text_field_tag(:food_name, params[:food_name], class: "form-control") %>
        </div>
        <div class="col">
          <%= submit_tag("Search Food", class: "btn btn-primary") %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>


<table class="table">
  <thead>
  <tr>
    <th>Restaurant name</th>
    <th>Address</th>
    <th>Cuisine</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.restaurant_name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.cuisine %></td>
        <td><%= button_to 'Menu', restaurant, method: :get, class: "btn btn-outline-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

