<%= button_to 'Back to main page', root_path, method: :get, class: "btn btn-secondary" %>

<br>
<h4>Food Search Results</h4>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Food name</th>
      <th scope="col">Description</th>
      <th class="<%= 'highlight' if params[:sort_by] == 'price'%>" scope="col"><%= link_to "Price", foods_path({:sort_by => 'price', :food_name => params[:food_name], :commit => params[:commit]}), id:'price_header'%></th>
      <th class="<%= 'highlight' if params[:sort_by] == 'rating'%>" scope="col"><%= link_to "Rating", foods_path({:sort_by => 'rating', :food_name => params[:food_name], :commit => params[:commit]}), id:'rating_header'%></th>
      <th class="<%= 'highlight' if params[:sort_by] == 'restaurant_name'%>" scope="col"><%= link_to "Restaurant name", foods_path({:sort_by => 'restaurant_name', :food_name => params[:food_name], :commit => params[:commit]}), id:'restaurant_name_header'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.food_name %></td>
        <td><%= food.description %></td>
        <td>$ <%= number_with_precision(food.price, precision: 2) %></td>
        <td><%= number_with_precision(food.rating, precision: 1) %> out of 5</td>
        <td><%= food.restaurant_name %></td>
        <td><%= button_to 'Menu', '/restaurants/' + Restaurant.search(food.restaurant_name).ids.join(''), method: :get, class: "btn btn-outline-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>