<p id="notice"><%= notice %></p>

<p>
  <strong>Food name:</strong>
  <%= @food.food_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food.price %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @food.rating %>
</p>

<p>
  <strong>Restaurant name:</strong>
  <%= @food.restaurant_name %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
