<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant name:</strong>
  <%= @restaurant.restaurant_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine %>
</p>

<!--<%#= link_to 'Edit', edit_restaurant_path(@restaurant) %> |-->
<%= link_to 'Back', root_path %>
<!-- 
<table class="table">
  <thead>
  <tr>
    <th scope="col">Food name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Rating</th>
    <th colspan="3"></th>
  </tr>
  </thead>
</table> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Food name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.food_name %></td>
      <td><%= food.description %></td>
      <td><%= food.price %></td>
      <td><%= food.rating %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br><br>
<table class="table">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Review Content</th>
    </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.username %></td>
      <td><%= review.review_text %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag(restaurants_save_path, method: :post) do %>
  <%= hidden_field(:restaurant, :restaurant_name) %>
  <%= text_field_tag(:username, params[:username], placeholder: "User Name") %>
  <%= text_field_tag(:review_text, params[:review_text], placeholder: "Review") %>
  <% params[:rname] = @restaurant[:restaurant_name] %>
  <%= submit_tag("Submit Review") %>
<% end %>
